.input-field{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2);
}
.input-field input{
    padding: 10px;
}
.form-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

}
.form-btns button{
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background-color: #ffdd7e;
    cursor: pointer;
    
}
.input-field select {
    padding: 10px 60px;
    border-radius: 5px;
    width: 100%;
    margin-left: 30px;
}
.form-affilate{
     display: grid;
    place-items: center;
    grid-template-columns: repeat(2,1fr);
   
    border-radius: 10px;
    width: 100%;
    margin: auto;
    min-height: 600px;
    border-radius: 20px;
}
.psyco-form{
     padding: 20px 1em;
    background-color: #ffdd7e;
    border-radius: 10px;
    width: 70%;
    margin: auto;
}
@media screen and (max-width:600px) {
    .input-field input {
    padding: 10px;
    width: 98%;
}
    .input-field{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1,1fr);
}
.input-field select {
    padding: 10px 60px;
    border-radius: 5px;
    width: 100%;
    margin-left: 0px;
}
.psyco-form {
    width: 90%;
 
}
.form-affilate {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.psyco-form{
    background-color: #ffdd7e;
}
}
@media screen and (min-width:600px ) and (max-width:1024px) {
    .form-affilate {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    border-radius: 10px;
    width: 70%;
    margin: auto;
    min-height: 600px;
    border-radius: 20px;
}
    .input-field{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1,0.9fr);
}
.input-field select {
    padding: 10px 60px;
    border-radius: 5px;
    width: 100%;
    /* margin-left: 138px; */
}
}